[submodule "vim/vim.symlink/bundle/ag.vim"]
	path = vim/vim.symlink/bundle/ag.vim
	url = https://github.com/epmatsw/ag.vim.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-gitgutter"]
	path = vim/vim.symlink/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/vim.symlink/bundle/vim-puppet"]
	path = vim/vim.symlink/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/vim.symlink/bundle/vim-elixir"]
	path = vim/vim.symlink/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/vim.symlink/bundle/vimerl"]
	path = vim/vim.symlink/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "vim/vim.symlink/bundle/vim-ruby"]
	path = vim/vim.symlink/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim.symlink/bundle/vim-liquid"]
	path = vim/vim.symlink/bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim.symlink/bundle/vim-markdown-folding"]
	path = vim/vim.symlink/bundle/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/vim-commentary"]
	path = vim/vim.symlink/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim.symlink/bundle/tabular"]
	path = vim/vim.symlink/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim.symlink/bundle/tlib_vim"]
	path = vim/vim.symlink/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/vim.symlink/bundle/vim-addon-mw-utils"]
	path = vim/vim.symlink/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/vim.symlink/bundle/vim-snipmate"]
	path = vim/vim.symlink/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/vim.symlink/bundle/vim-snippets"]
	path = vim/vim.symlink/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/vim.symlink/bundle/emmet-vim"]
	path = vim/vim.symlink/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "emacs/emacs.d.symlink"]
	path = emacs/emacs.d.symlink
	url = https://github.com/syl20bnr/spacemacs
